@import '../scss/_variables.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__frame {
    margin-top: 1rem;
     border: 1px solid black;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 2rem;
   }

   &__button {
    padding: 1.2rem 0rem 1.2rem;
    color: #FFFFFF;
    background-color: #000000;
    font-family: $PTmono;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    margin-top: -40px;
  }
}




