@import '../../scss/_variables.scss';

.cardform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0 1rem;
}


.form {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  
  

  &__label {
    font-family: $PTmono;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__input {
    height: 55px;
    border-radius: 8px;
    font-family: $PTmono;
    border: 1px solid rgba(0, 0, 0, 0.8);
   
  }

  &__dobule {
   display: flex;
    
   
  } 
  
  &__button {
    padding: 1.2rem 0rem 1.2rem;
    color: #FFFFFF;
    background-color: #000000;
    font-family: $PTmono;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    
  }

}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__circle {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__image {
   height: 20px;
  }
}