@import '../../scss/_variables.scss';

.form {
 max-width: 380px;
  
  display: flex;
  flex-direction: column;

  &__label {
    font-family: $PTmono;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__input {
    height: 55px;
    border-radius: 8px;
    font-family: $PTmono;
    
    
  }

  &__dobule {
   display: flex;
   flex: 1;
    
  }                 

}






.option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__circle {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__image {
   height: 20px;
  }
}