

.form {
  width: 380px;
  height: 240px;
  display: flex;
  flex-direction: column;

  &__dobule {
    display: flex;
  }                 

}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__circle {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  &__image {
   height: 20px;
  }
}